USE [master]
GO
/****** Object:  Database [QL_PHONGTRO]    Script Date: 6/20/2021 2:42:07 PM ******/
CREATE DATABASE [QL_PHONGTRO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_PHONGTRO_Data', FILENAME = N'E:\Database\MSSQL15.MSSQLSERVER\MSSQL\DATA\QL_PHONGTRO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_PHONGTRO_Log', FILENAME = N'E:\Database\MSSQL15.MSSQLSERVER\MSSQL\DATA\QL_PHONGTRO.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_PHONGTRO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_PHONGTRO]
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 6/20/2021 2:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[STT] [bigint] IDENTITY(1,1) NOT NULL,
	[MaHoaDon] [varchar](100) NOT NULL,
	[MaDV] [varchar](10) NOT NULL,
	[Soluong] [int] NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_STT] UNIQUE NONCLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_THUE]    Script Date: 6/20/2021 2:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_THUE](
	[MaCTT] [nvarchar](50) NOT NULL,
	[MaHD] [varchar](20) NOT NULL,
	[CMND] [varchar](15) NOT NULL,
	[NgayO] [date] NOT NULL,
	[NgayDi] [date] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_CT_THUE_1] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 6/20/2021 2:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MaDV] [varchar](10) NOT NULL,
	[TenDV] [nvarchar](20) NOT NULL,
	[DonGia] [money] NOT NULL,
	[DonViTinh] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__DICHVU] PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TenDV] UNIQUE NONCLUSTERED 
(
	[TenDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/20/2021 2:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHoaDon] [varchar](100) NOT NULL,
	[MaHD] [varchar](20) NULL,
	[NgayThu] [date] NULL,
	[TongTien] [money] NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONGTHUE]    Script Date: 6/20/2021 2:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONGTHUE](
	[MaHD] [varchar](20) NOT NULL,
	[MaPT] [varchar](20) NOT NULL,
	[NgayThue] [date] NOT NULL,
	[TienDatCoc] [money] NULL,
	[NgayTra] [date] NULL,
	[GhiChu] [nvarchar](50) NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK__QUANLITH__083228169A430377] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHTRO]    Script Date: 6/20/2021 2:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHTRO](
	[CMND] [varchar](15) NOT NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[SDT] [nvarchar](15) NOT NULL,
	[DiaChi] [nvarchar](70) NOT NULL,
	[TrangThaiThue] [int] NOT NULL,
	[img_url] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACHTRO] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_CMND] UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHATRO]    Script Date: 6/20/2021 2:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHATRO](
	[MaNT] [varchar](10) NOT NULL,
	[ChuTro] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](15) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_NHATRO] PRIMARY KEY CLUSTERED 
(
	[MaNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGTRO]    Script Date: 6/20/2021 2:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGTRO](
	[MaPT] [varchar](20) NOT NULL,
	[MaNT] [varchar](10) NOT NULL,
	[TenPhong] [nvarchar](20) NOT NULL,
	[GiaPhong] [money] NOT NULL,
	[SLToiDa] [int] NOT NULL,
	[TrangThai] [int] NULL,
	[SoLuongHienTai] [int] NOT NULL,
	[TienCoc] [money] NULL,
 CONSTRAINT [PK__PHONGTRO] PRIMARY KEY CLUSTERED 
(
	[MaPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TenPhong] UNIQUE NONCLUSTERED 
(
	[TenPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 6/20/2021 2:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] NOT NULL,
	[roleName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_role]    Script Date: 6/20/2021 2:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_role](
	[id_user] [bigint] NOT NULL,
	[id_role] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/20/2021 2:42:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[displayName] [nvarchar](255) NOT NULL,
	[username] [varchar](255) NOT NULL,
	[email] [varchar](500) NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[password] [varchar](1000) NOT NULL,
	[active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_HOADON] ADD  CONSTRAINT [DF_QLTHUTIEN_Soluong]  DEFAULT ((0)) FOR [Soluong]
GO
ALTER TABLE [dbo].[DICHVU] ADD  CONSTRAINT [DF_DICHVU_DonGia]  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[HOPDONGTHUE] ADD  CONSTRAINT [DF_QUANLITHUEPHONG_TienDatCoc]  DEFAULT ((0)) FOR [TienDatCoc]
GO
ALTER TABLE [dbo].[HOPDONGTHUE] ADD  CONSTRAINT [DF_HOPDONGTHUE_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[KHACHTRO] ADD  CONSTRAINT [DF_KHACHTRO_GioiTinh]  DEFAULT (N'Nam') FOR [GioiTinh]
GO
ALTER TABLE [dbo].[KHACHTRO] ADD  CONSTRAINT [DF_KHACHTRO_TrangThaiThue]  DEFAULT ((1)) FOR [TrangThaiThue]
GO
ALTER TABLE [dbo].[PHONGTRO] ADD  CONSTRAINT [DF_PHONGTRO_GiaPhong]  DEFAULT ((0)) FOR [GiaPhong]
GO
ALTER TABLE [dbo].[PHONGTRO] ADD  CONSTRAINT [DF_PHONGTRO_SLToiDa]  DEFAULT ((0)) FOR [SLToiDa]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADON] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADON]
GO
ALTER TABLE [dbo].[CT_THUE]  WITH CHECK ADD  CONSTRAINT [FK_CT_THUE_HOPDONGTHUE] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOPDONGTHUE] ([MaHD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_THUE] CHECK CONSTRAINT [FK_CT_THUE_HOPDONGTHUE]
GO
ALTER TABLE [dbo].[CT_THUE]  WITH CHECK ADD  CONSTRAINT [FK_CT_THUE_KHACHTRO] FOREIGN KEY([CMND])
REFERENCES [dbo].[KHACHTRO] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_THUE] CHECK CONSTRAINT [FK_CT_THUE_KHACHTRO]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_HOPDONGTHUE] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOPDONGTHUE] ([MaHD])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_HOPDONGTHUE]
GO
ALTER TABLE [dbo].[HOPDONGTHUE]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONGTHUE_PHONGTRO1] FOREIGN KEY([MaPT])
REFERENCES [dbo].[PHONGTRO] ([MaPT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOPDONGTHUE] CHECK CONSTRAINT [FK_HOPDONGTHUE_PHONGTRO1]
GO
ALTER TABLE [dbo].[PHONGTRO]  WITH CHECK ADD  CONSTRAINT [FK_PHONGTRO_NHATRO1] FOREIGN KEY([MaNT])
REFERENCES [dbo].[NHATRO] ([MaNT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHONGTRO] CHECK CONSTRAINT [FK_PHONGTRO_NHATRO1]
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD  CONSTRAINT [FK__user_role__id_ro__66603565] FOREIGN KEY([id_role])
REFERENCES [dbo].[roles] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[user_role] CHECK CONSTRAINT [FK__user_role__id_ro__66603565]
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD  CONSTRAINT [FK__user_role__id_us__656C112C] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[user_role] CHECK CONSTRAINT [FK__user_role__id_us__656C112C]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [CK_SoLuong] CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [CK_SoLuong]
GO
ALTER TABLE [dbo].[KHACHTRO]  WITH CHECK ADD  CONSTRAINT [CK_GioiTinh] CHECK  (([GioiTinh]='Nam' OR [GioiTinh]=N'Nữ' OR [GioiTinh]=N'Khác'))
GO
ALTER TABLE [dbo].[KHACHTRO] CHECK CONSTRAINT [CK_GioiTinh]
GO
ALTER TABLE [dbo].[PHONGTRO]  WITH CHECK ADD  CONSTRAINT [CK_SLToiDa] CHECK  (([SLToiDa]>=(0)))
GO
ALTER TABLE [dbo].[PHONGTRO] CHECK CONSTRAINT [CK_SLToiDa]
GO
USE [master]
GO
